@import './Table.css';

table.billing-collections-table {
  table-layout: fixed;
}

.billing-collections-table th:nth-child(1),
.billing-collections-table td:nth-child(1) {
  width: 11%;
}

.billing-collections-table th:nth-child(2),
.billing-collections-table td:nth-child(2) {
  width: 15%;
}

.billing-collections-table th:nth-child(3),
.billing-collections-table td:nth-child(3) {
  width: 20%;
}

.billing-collections-table th:nth-child(4),
.billing-collections-table td:nth-child(4) {
  width: 32%;
}

.billing-collections-table th:nth-child(5),
.billing-collections-table td:nth-child(5) {
  width: 12%;
}

.billing-collections-table th:nth-child(6),
.billing-collections-table td:nth-child(6) {
  width: 10%;
}

.billing-collections-table td:nth-child(4) {
  white-space: normal;
  line-height: 1.4;
}
